.sax {
  margin: 0;
}

.h1 {
  position: absolute;
  color: white;
  font-size: 100px;
  font-weight: bold;
  top: 0;
  margin-top: 30%;
}
.kokordilos {
  margin: 0%;
  display: flex;
  justify-content: flex-end;
}
.a {
  color: black;
  text-decoration: none;
}
.a:hover {
  text-decoration: underline;
}
.a1:hover {
  transform: scale(1.1);
  z-index: 2;
}
.gymHover:hover {
  transform: scale(1.1);
  z-index: 2;
}
.about {
  margin: 0%;
  padding: 0%;
  display: flex;

  width: 100%;
}

.Lacoste {
  margin: auto;
}
.Menu {
  display: flex;
  justify-content: space-between;
  margin: 0%;
}

.tesakani {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font: bold;
}

.nkar {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0%;
  padding: 0%;
}

.logo {
  padding-left: 20px;
  margin-top: 10px;
  align-content: flex-start;
}

.polo {
  display: flex;
  justify-content: end;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}

.text {
  display: flex;
  padding-left: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.vernagir {
  font-size: 22px;
}
.nerqev {
  display: flex;
  justify-content: start;
}
.polka {
  display: flex;
  justify-content: end;
}

.arandzin {
  display: flex;
  gap: 8px;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}
.croc:hover {
  opacity: 30%;
}
.btn-1 {
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.btn-1:hover {
  background: #ff96ad;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad,
    0 0 200px #ff96ad;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* ==========================Font========================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@font-face {
  font-family: "robotoregular";
  src: url(../fonts/roboto-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "robotoregular", sans-serif;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #808080, #000000);
}

.container {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 300px;
  height: 420px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
}

.container:hover .card {
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}

.container .card:hover {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
}

.container .card:hover .circle {
  clip-path: circle(600px);
}

.container .card:hover .content p {
  color: #fff;
}

.container .card:hover .content a {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.4);
}

.container .card .content a:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1),
    inset 5px 5px 5px rgba(0, 0, 0, 0.04),
    inset -5px -5px 5px rgba(255, 255, 255, 0.07),
    inset -1px -1px 2px rgba(255, 255, 255, 0.4);
}

.container .card .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
  transition: 1s ease-in-out;
}

.container .card h2 {
  color: #fff;
  font-size: 4.5em;
  padding: 30px 0;
}

.container .card .content {
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-align: center;
}

.container .card .content p {
  color: #666;
  transition: 0.5s ease-in-out;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.8s ease-in-out;
}

.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a {
  background: #000000;
}

.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a {
  background: #808080;
}

.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a {
  background: red;
}

@keyframes colorChange {
  0% {
    color: #fff;
  }

  50% {
    color: #b1b493;
  }

  80% {
    color: #4f8a8b;
  }

  100% {
    color: #fff;
  }
}

/* =======================Responsive Breakpoint ========================== */

@media only screen and (max-width: 992px) {
  /* Add responsive styles for max-width 992px */
}

@media only screen and (max-width: 768px) {
  /* Add responsive styles for max-width 768px */
}
